/*nav*/
.nav-logo{
  color: #fff;
  margin: 0 auto;
  font-weight: bold;
  text-transform: uppercase;

}

.red {
  color: #D41414;
}

/*hero*/

.hero-container {
  position:relative;
  text-align: center;
  color: black;
}

.hero-image{
  width:100%;
  padding-top: 20px;
}

.overlay{
  position:absolute;
  width:100%;
  top:20%;
  background: black;
  opacity: .7;
}

.hero-head{
 font-family: 'Amiri', serif;
 font-size:5em;
 color: red;
 margin:0 auto;
padding-bottom:10px;
font-weight: bold;

}

.hero-sub{
font-family: 'Mukta', sans-serif;
 font-size:1.5em;
 color: white;
 margin:0 auto;
 font-weight: bold;
}


/*quotes*/
.quote{
  font-family: 'Mukta', sans-serif;
  font-size: 3em;
  color:orange;
  text-align: left;
  padding: 20px 0 20px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 700;
}
.quote-attribution {
  font-family: 'Mukta', sans-serif;
  font-size: .5em;
  color:orange;

}

/*captions*/
.caption{
  font-family: 'Mukta', sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
  color: gray;
  text-align: left;

}


/*headers*/
.header {
  font-family: 'Amiri', serif;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0 10px 0;
}

.head {
  font-family: 'Amiri', serif;
  font-size: 45px;
  font-style: bold;
  text-align: center;
}
.byline {
  font-family: 'Amiri', serif;
  font-size: 35px;
  font-style: italic;
  text-align: center;
}

/*sidebar*/
.sidebar {
  font-family: 'Mukta', sans-serif;
  font-size: 1.3em;
  color: orange;
  border: 5px solid #F4DF08;
  text-align: center;
  font-weight: bold;

}
.side-title{
  text-align: center;
  font-family: 'Mukta', sans-serif;
  font-weight: bold;
}

.col {
  text-align: center;
}

.source {
  text-align: left;
  padding-left: 5px;
}

/*links*/
a:link {
color: #7705d1;
text-decoration: none;
}

/* visited link */
a:visited {
color: #1af3fc;
text-decoration: underline;
}

/* mouse over link */
a:hover {
color: #1af3fc;
text-decoration: underline;
}


/*content*/
p{
  font-size: 20px;
  font-family: 'Mukta', sans-serif;
  font-weight: 300;
}
.add {
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    font-style:italic;
    padding: 20px 0 20px 0;
}
.graph{
  text-align: center;
}



/*media querie*/

@media (max-width:700px){
  .hero-head{
    font-size: 4em;
  }
}
.hero-sub{
  font-size: 1.5em;
