/*resume css*/
@media only screen and (max-width: 500px) {

 .nav-item {
   max-width: 500px;
 }
  #content {
    max-width: 500px;
  }
  .flag {
    max-width: 500px;
  }
  .masthead {
    max-width: 500px;
  }
}
.nav-item{
  font-family: 'Sansita', Arial, sans-serif;
}

#content {
  text-align: left;
  font-family: 'Sansita', Arial, sans-serif;
  font-size: 24px;
}

h1{
  font-size: 50px;
  font-family: 'Sansita', Arial, sans-serif;
  font-style: bold;
  text-align: center;
  padding-bottom: 10px;

}

.col{
  text-align: center;

}

.contacts {
  font-size: 3em;
  text-align: center;
  padding: 10px;

}

p {
  font-size: 24px;
  font-style: normal;
}

.position {
  font-size: 40px;
  font-style: italic;
}

.organization {
  font-size: 30px;
  font-style: oblique;
}

.date {
  font-size: 25px;
  font-style: normal;
  padding-bottom: 10px
}


.row {
  font-size: 23px;
  padding-bottom: 10px;
}

.flag {
  text-align: center;
}
