#content {
  text-align: left;
  font-family: 'Sansita', Arial, sans-serif;
  font-size: 20px;
}

h1{
  font-size: 50px;
  font-style: bold;
  text-align: center;

}

.col{
  text-align: center;

}

.contacts {
  font-size: 2em;
  text-align: left;

}

p {
  font-size: 20px;
  font-style: normal;
}

.position {
  font-size: 40px;
  font-style: italic;
}

.organization {
  font-size: 30px;
  font-style: oblique;
}

.date {
  font-size: 30px;
  font-style: normal;
}

.Ed {
    font-size: 30px;

}

.row {
  font-size: 26px;
}

.Me {
  font-family: 'Sansita', Arial, sans-serif;
  font-size: 50px;
  text-align: center;
}
