
@media only screen and (max-width: 500px) {
  #content{
    max-width: 500px;
  }

  .ul {
    max-width: 500px;
  }

  .image {
    max-width: 500px;
  }

  .uae {
    max-width: 500px;
  }

  .mars{
  max-width: 500px;
  }

  .jpg {
  max-width: 500px;
  }

  .gif {
  max-width: 500px;
  }
}


#content {
  margin: 0 auto;
  width: 900px;
}

#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

p {
  font-family: Georgia, serif;
  font-size: 13px;
}

#blockquote {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  font-style: oblique;
  text-align: justify;
}

.ul {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  text-align: left;
}

.image {
  margin: 0 auto;
  height: 700px;
  width: 1300px;
}

.uae {
  margin: 0 auto;
  height: 700px;
  width: 900px;
}

.mars{
margin: 0 auto;
height: 700px;
width: 900px;
}

.jpg {
  margin: 0 auto;
  height: 700px;
  width: 900px;
}

.gif {
  margin: 0 auto;
  height: 700px;
  width: 900px;
}
