
@media only screen and (max-width: 2500px) {
!important


#content {
  margin: 0 auto;
  width: 900px;
}

#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

p {
  font-family: Georgia, serif;
  font-size: 13px;
}

#blockquote {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  font-style: oblique;
  text-align: justify;
}

.ul {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  text-align: left;
}

.image {
  margin: 0 auto;
  height: 700px;
  width: 1500px;
}

.uae {
  margin: 0 auto;
  height: 700px;
  width: 1000px;
}

.mars{
margin: 0 auto;
height: 700px;
width: 1000px;
}

.jpg {
  margin: 0 auto;
  height: 700px;
  width: 1000px;
}

.gif {
  margin: 0 auto;
  height: 700px;
  width: 1000px;
}
